include *.in
include *.rst
include *.txt
include *.yml
include LICENSE
include tox.ini
recursive-include docs *.py
recursive-include docs *.rst
recursive-include elevation *.mk
recursive-include tests *.py
recursive-include tests *.yml
